# --- Java / Spring Boot ---
target/
*.class
.mvn/
mvnw
mvnw.cmd
.settings/
.classpath
.project

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- IDE (VS Code / IntelliJ) ---
.vscode/
.idea/
*.iml

# --- OS ---
.DS_Store
Thumbs.db


*.csv