services:
  # Service 1 : IA Python
  fraud-service:
    build: ./fraud-detection-service
    container_name: finshield-python-ai
    ports:
      - "8000:8000"
    networks:
      - finshield-network

  # Service 2 : Java Core Banking
  core-banking:
    build: ./core-banking-service/core-banking
    container_name: finshield-java-core
    ports:
      - "8081:8081"
    environment:
      - FRAUD_API_URL=http://fraud-service:8000/predict
    depends_on:
      - fraud-service
    networks:
      - finshield-network

  # Service 3 : Frontend React 
  frontend:
    build: ./frontend
    container_name: finshield-frontend
    ports:
      - "5173:80" # On mappe le port 5173 de ton PC vers le port 80 du conteneur
    depends_on:
      - core-banking
    networks:
      - finshield-network

networks:
  finshield-network:
    driver: bridge